*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins'sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:rgb(4,75,97)
}
.box{
    position:relative;
    width: 300px;
    height: 300px;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:rgb(0,0,0);
    border-radius: 900px;
    overflow:hidden;
}
.box::before{
    content: '';
    position:absolute;
    width:180px;
    height: 140%;
    background-color: white;
    box-shadow:0 0 20px(8, 8, 8);
    animation: animate 4s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    inset: 10px;
    background-color: rgb(4, 75, 97);
    background-image: url('pic.jpg') ;
   
    border-radius: 900px;
}
@keyframes animate{
    0%{
     transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.imogi{
    align-items: center;
    justify-content: center;
    display:flex;
    width:300px;
    height:400px;

}
.hel{
    width: 400px;
    height:400px;
    background-color: blanchedalmond;
    margin-left: -80px;
}